.container {
  /* height: 600px;
  width:100%; */
  /* display: grid;
  grid-template-columns: 300 px 300px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr);
  gap: 20px;*/
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.blueGreenContainer {
  display: flex;
  flex-direction: row;
  height: 40%;
  /* flex: 1; */
}

.blueColor {
   display: flex;
   flex: 0.5;
   background-color: blue;
   cursor: wait;
   /* grid-column-start:1;
   grid-column-end: 4; /
   / transition: all 1s; */
}

.greenAndYelloContainer {
  display: flex;
  flex-direction: column;
  flex:0.5;
  /* height:40%; */

}

.green {
  /* height: 20%; */
  color: white;
  background-color: green;
  flex: 0.5;
  display:flex;
}

.yellow {
  /* height: 40%; */
  /* width: 50%; */
  flex: 0.5;
  color: red;
  background-color: yellow;

}

.redAndWhite{
  display: flex;
  flex:1;
  flex-direction:row;
  height:30%;

}
.red {
   /* height: 30%;
   width: 75%; */
   flex:0.75;
   color: white;
   background-color: red;
}

.white{
  /* height: 30%;
  width: 25%; */
  flex:0.25;
  color: red;
 background-color: white;
 display:flex;
}

.blackAndViolet{
  height:30%;
  display:flex;

}

.violetColor {
   /* height: 30%;
   width: 60%; */
   color: red;
  background-color: violet;
  flex:0.6;
  display:flex;
}

.blackColor{
  /* height: 30%;
  width: 40%; */
  flex:0.4;
  color: red;
 background-color: black;

}
